body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    width: 100%;
    height: 100vh;
}

.info {
    padding: 10px;
    background: white;
    border-radius: 5px;
    font-size: 14px;
}

